@use '../../styles/partials/fonts';
@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables' as *;

.warehouse-item {
    border-top: $Cloud 2px solid;
    padding: 2vh 6vw;

    &--mobile {
        display: flex;
        gap: 10%;
    }
    &__direct {
        display: inline;
        vertical-align: bottom;
    }

    &__link {
        color: $Instock-Indigo;
        text-decoration: none;
        display: inline;
    }

    &__manage {
        display: flex;
        justify-content: space-between;

        &-icon {
            height: 2em;
        }
    }
}