@use '../../styles/partials/fonts';
@use '../../styles/partials/global';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.warehouse-item-tablet {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: row;
        border-top: $Cloud 2px solid;
        padding: 2vh 4vw;
        justify-content: space-between;
        text-align: left;
    }

    &__link {
        @include tablet {
            width: 8em;
            color: $Instock-Indigo;
            text-decoration: none;
            display: inline;
            margin-top: 3vh;
        }
    }

    &__direct {
        display: inline;
        vertical-align: bottom;
    }

    &__details {

        &--name {
            width: 9em;
            text-align: left;
            margin-top: 3vh;
        }

        @include tablet {
            width: 8em;
            margin: 1.5vh 0 0 0;
        }
    }

    &__contact-info {
        width: 10em;
        margin-right: 2%;
    }

    &__manage {

        @include tablet {
            margin-top: 2%;
            gap: 25%;
            display: flex;
            justify-content: space-between;
        }

        &-icon {
            height: 2em;
        }
    }
}