@use '../../styles/partials/variables';
@use '../../styles/partials/mixins' as *;

.delete-warehouse {
    box-sizing: border-box;
    background-color: rgba(19,24,44,0.7);
    position: absolute;
	flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
	
	@include tablet {
    	flex-direction: center;
	}

	&__card{
		position: fixed;
		box-sizing: border-box;
		background-color: variables.$Light-Grey;
		height: 100%;
		width: 100%;
		padding: 1rem;

		@include tablet {
			width: 20rem;
			height: 20rem;
			top: 50%;
			left: 50%;
			margin: -10rem -10rem;	// half of card height and width
		}
	}

	&__x-button{
		background-image: url('../../assets/icons/close-24px.svg');
		background-size: cover;
		background-origin: border-box;
		box-sizing: border-box;
		padding: 0;
		border: 0;
		//height: calc(14/16 * 1rem);
		//width: calc(14/16 * 1rem);
		height: 14px;
		width: 14px;
	}
}
