@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';
@use '../../styles/partials/global';

textarea {
    font-family: 'Titillium-Web';
    overflow: hidden;
    resize: none;
    border-radius: 20px;
    border-color: variables.$Cloud;
    width: 100%;
    height: 30px;
    padding: 0.2rem 0 0 1rem;;
}

.add-warehouse {
    @include mixins.card;
    
    &__title {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        border-bottom: 0.05rem solid variables.$Cloud;
    }

    &__warehouse--detail, &__contact--detail {
        padding: 0.5rem 2rem 1.5rem;
    }

    &__warehouse--detail {
        border-bottom: 0.05rem solid variables.$Cloud;
    }

    &__labels {
       margin-bottom: 0.4rem;
    }

    &__submit {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: variables.$Light-Grey;
    
        &--add {
            height: 2.5rem;
            // padding: 0.5rem 1rem;
            font-weight: 600;
            background-color: variables.$Instock-Indigo;
            color: variables.$White;
            border: none;
            border-radius: 20px;
            width: 10rem;
        }

        &--cancel {
            height: 2.5rem;
            // padding: 0.5rem 1rem;
            font-weight: 600;
            background-color: variables.$White;
            color: variables.$Slate;
            border: 0.05rem solid variables.$Cloud;
            border-radius: 20px;
            width: 10rem;
        }

    }

    
}