@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';
@use '../../styles/partials/global';

.footer {
    
    &__label {
        display: flex;
        justify-content: center;
        color: variables.$Slate;
        margin: 0;
        padding-bottom: 2rem;

    }
}