@use '../../styles/partials/mixins';
@use '../../styles//partials/variables';

.footer {
    height: 100%;
    
    &__label {
        display: flex;
        justify-content: center;
        justify-items: end;
        color: variables.$Slate;
        
        
    }
}