@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';
@use '../../styles/partials/global';

.footer {
    
    &__label {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: calc(145vh - 13rem);
        color: variables.$Slate;
        margin: 0;
        padding-bottom: 2rem;
        background-color: variables.$Light-Grey;
        

    }
}